#app-poster-carousel, #app-poster-carousel:active {
  width: 100%;
  height: auto;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
}

.imageContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin: auto;
  transition: background-image 0.5s; 
}

img {
  width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: top center;
  transition: transform 0.5s;
  z-index: -100;
}

#app-poster-carousel:hover img{
  transform: scale(1.1)
}

#app-poster-carousel:hover .imageContainer{
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(255,255,255,0) 100%);
}

.captionContainer {
  display: none;
  align-items: flex-start;
}

#app-poster-carousel:hover .captionContainer{
  display: flex;
}

:host ::ng-deep .carouselDesktop .carousel-control-prev {
  left: -3.5vw;
}

:host ::ng-deep .carouselDesktop .carousel-control-next {
  right: -3.5vw;
}

:host ::ng-deep .carouselMobile .carousel-control-prev {
  left: -3vw;
}

:host ::ng-deep .carouselMobile .carousel-control-next {
  right: -3vw;
}

:host ::ng-deep .carouselMobile .imageContainer{
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(255,255,255,0) 100%);
}

:host ::ng-deep .carouselMobile .captionContainer {
  display: flex;
  font-size: 0.9rem;
}

