<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12" style="margin: auto;">
      <ngb-carousel 
        *ngIf="currentlyPlayingMovies.length !== 0" 
        id="app-poster-carousel" 
        [showNavigationIndicators]="isDesktop"
        [class]="isDesktop ? 'carouselDesktop' : 'carouselMobile'"
      >
        <ng-template ngbSlide *ngFor="let movie of currentlyPlayingMovies">
          <div class="imageContainer" (click)="onImageClick(movie.id)">
            <img [src]="movie.poster_path" [alt]="movie.title" [ngStyle]="{height: isDesktop ? '54vh' : '25vh'}">
          </div>
          <div class="carousel-caption captionContainer" [ngStyle]="{bottom: isDesktop ? '5%' : '-4%', left: isDesktop ? '5%' : '5%', fontSize: isDesktop ? 20 : 14}">{{movie.title}}</div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
