
<app-nav-bar [activatedRoute]="activatedRoute" [isDesktop]="isDesktop"></app-nav-bar>
<div class="container-fluid" [class]="isDesktop ? 'contentMarginDesktop' : 'contentMarginMobile'">
  <div class="row justify-content-center" style="margin: auto;">
    <div class="col-sm-11 col-md-9">

      <div *ngIf="isEmpty" [class]="isDesktop ? 'messageDesktop' : 'messageMobile'">No items found in Watchlist.</div>

      <div *ngIf="!isEmpty && isDesktop">
        <div *ngFor="let group of groups" class="row justify-content-center" style="margin: auto">
            <div class="col-2 itemContainerDesktop" *ngFor="let element of group" style="margin: auto">
              <div class="imageContainerDesktop" *ngIf="!element.hasOwnProperty('placeholder')"  style="margin: auto;" (click)="onClick(element.id, element.media_type)">
                <img class="imageDesktop"  [src]="element.poster_path" [alt]="element.title">
              </div>
              <div *ngIf="!element.hasOwnProperty('placeholder')" class="carousel-caption captionContainerDesktop">
                {{element.title}}
                </div>
            </div>
        </div>
      </div>

      <div *ngIf="!isEmpty && !isDesktop">
        <div *ngFor="let element of watchList">
          <div class="row justify-content-center" style="margin: auto;">
            <div class="col-12 itemContainerMobile" style="margin: auto;">
                <div class="imageContainerMobile" style="margin: auto;" (click)="onClick(element.id, element.media_type)">
                  <img class="imageMobile" *ngIf="!element.hasOwnProperty('placeholder')" [src]="element.poster_path" [alt]="element.title" >
                  <div class="carousel-caption captionContainerMobile">
                    {{element.title}}
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>