.watchListPage {
  display: flex;
  flex-direction: column;
}

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messageDesktop {
  margin: auto;
  margin-top: 10vh;
  font-size: 2rem;
  text-align: center;
}

.messageMobile {
  margin: auto;
  width: 80%;
  margin-top: 5vh;
  font-size: 2.25rem;
  text-align: center;
}

.itemContainerDesktop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32vh;
  transform: scale(0.9);
  transition: transform 0.25s;
}

.itemContainerDesktop:hover {
  transform: scale(0.99);
}

.imageContainerDesktop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none;
  transition: background-image 0.25s;
  cursor: pointer;
}

.imageContainerDesktop:hover {
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
}

.imageDesktop{
  width: auto;
  height: 32vh; 
  transform: scale(0.9);
}

.itemContainerDesktop:hover .imageDesktop {
  transform: scale(0.99);
}

.captionContainerDesktop {
  display: none;
  text-align: left;
  transition: display 0.25s;
  bottom: 0vh;
}

.itemContainerDesktop:hover .captionContainerDesktop {
  display: flex;
}

.itemContainerMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54vh;
  transform: scale(0.9);
  transition: transform 0.25s;
}

.itemContainerMobile:hover {
  transform: scale(0.99);
}

.imageContainerMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
  cursor: pointer;
}

.imageMobile{
  width: auto;
  height: 54vh; 
  transform: scale(0.99);
}

.captionContainerMobile {
  display: flex;
  text-align: left;
}

img {
  z-index: -100;
}






