.watchListPage {
  display: flex;
  flex-direction: column;
}

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messageDesktop {
  margin: auto;
  margin-top: 10vh;
  font-size: 2rem;
  text-align: center;
}

.messageMobile {
  margin: auto;
  width: 80%;
  margin-top: 5vh;
  font-size: 2.25rem;
  text-align: center;
}

