<div class="swimmingPool" *ngIf="this.data !=null && this.data.length !== 0" >
  <div class="swimmingPoolTitle">{{title}}</div>
  <div class="carouselContainer">
    <ngb-carousel *ngIf="true" id="swimming-pool-carousel" [interval]="0">
      <ng-template ngbSlide *ngFor="let group of groups">
        <div class="imagesContainer">
          <div *ngFor="let element of group" >
            <div [class]="element.hasOwnProperty('placeholder') ? 'placeholderContainer' : 'imagesContainer'" >
              <img *ngIf="!element.hasOwnProperty('placeholder')" [src]="element.poster_path" [alt]="element.title" (click)="onClick(element.id, element.media_type)">
            </div>
          </div>
      </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>