.swimmingPoolDesktop {
  margin-top: 4vh;
  height: 42vh;
}

.swimmingPoolMobile {
  margin-top: 3vh;
  height: 70vh;
}

.swimmingPoolTitleDesktop {
  font-size: 2.5rem;
}

.swimmingPoolTitleMobile {
  font-size: 1.75rem;
}

#swimming-pool-carousel, #swimming-pool-carousel:active {
  width: 100%;
  height: 100%;
  margin: auto;
  outline: none;
  border: none;
}

.itemContainerDesktop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32vh;
  transform: scale(0.9);
  transition: transform 0.25s;
}

.itemContainerDesktop:hover {
  transform: scale(0.99);
}

.imageContainerDesktop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none;
  transition: background-image 0.25s;
  cursor: pointer;
}

.imageContainerDesktop:hover {
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
}

.imageDesktop{
  width: auto;
  height: 32vh; 
  transform: scale(0.9);
}

.itemContainerDesktop:hover .imageDesktop {
  transform: scale(0.99);
}

.captionContainerDesktop {
  display: none;
  text-align: left;
  transition: display 0.25s;
  bottom: 0vh;
}

.itemContainerDesktop:hover .captionContainerDesktop {
  display: flex;
}

.itemContainerMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54vh;
  transform: scale(0.9);
  transition: transform 0.25s;
}

.itemContainerMobile:hover {
  transform: scale(0.99);
}

.imageContainerMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
  cursor: pointer;
}

.imageMobile{
  width: auto;
  height: 54vh; 
  transform: scale(0.99);
}

.captionContainerMobile {
  display: flex;
  text-align: left;
}

img {
  z-index: -100;
}

:host ::ng-deep .swimmingPoolDesktop .carousel-control-prev {
  left: -7vw;
}

:host ::ng-deep .swimmingPoolDesktop .carousel-control-next {
  right: -7vw;
}

:host ::ng-deep .swimmingPoolMobile .carousel-control-prev {
  left: -11vw;
}

:host ::ng-deep .swimmingPoolMobile .carousel-control-next {
  right: -11vw;
}

:host ::ng-deep .carousel-indicators {
  bottom: -3vw;
}

:host ::ng-deep .hideControllers .carousel-control-prev {
  display: none;
}

:host ::ng-deep .hideControllers .carousel-control-next {
  display: none;
}
