<div class="swimmingPool">
  <div class="swimmingPoolTitle">{{title}}</div>
  <div class="carouselContainer">
    <ngb-carousel 
      *ngIf="true" 
      id="swimming-pool-carousel" 
    >

      <ng-template ngbSlide>
        <div class="imagesContainer">
          <div style="flex: 1;">1</div>
          <div style="flex: 1;">2</div>
          <div style="flex: 1;">3</div>
          <div style="flex: 1;">4</div>
          <div style="flex: 1;">5</div>
          <div style="flex: 1;">6</div>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="imagesContainer">
          <div style="flex: 1;">1</div>
          <div style="flex: 1;">2</div>
          <div style="flex: 1;">3</div>
          <div style="flex: 1;">4</div>
          <div style="flex: 1;">5</div>
          <div style="flex: 1;">6</div>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="imagesContainer">
          <div style="flex: 1;">1</div>
          <div style="flex: 1;">2</div>
          <div style="flex: 1;">3</div>
          <div style="flex: 1;">4</div>
          <div style="flex: 1;">5</div>
          <div style="flex: 1;">6</div>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="imagesContainer">
          <div style="flex: 1;">1</div>
          <div style="flex: 1;">2</div>
          <div style="flex: 1;">3</div>
          <div style="flex: 1;">4</div>
          <div style="flex: 1;">5</div>
          <div style="flex: 1;">6</div>
        </div>
      </ng-template>

    </ngb-carousel>
  </div>
</div>