.swimmingPoolDesktop {
  height: 45vh;
}

.swimmingPoolMobile {
  height: 75vh;
}

.swimmingPoolTitleDesktop {
  font-size: 32px;
}

.swimmingPoolTitleMobile {
  font-size: 32px;
}

#swimming-pool-carousel, #swimming-pool-carousel:active {
  width: 100%;
  height: 100%;
  margin: auto;
  outline: none;
  border: none;
}

.itemContainerDesktop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainerDesktop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none;
  transition: background-image 0.25s;
  cursor: pointer;
}

.imageDesktop{
  width: auto;
  height: 30vh;
  transform: scale(0.9);
  object-fit: contain;
  transition: transform 0.25s;
}

.itemContainerDesktop:hover .imageDesktop {
  transform: scale(1.0);
}

.itemContainerDesktop:hover .imageContainerDesktop {
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
}


.captionContainerDesktop {
  display: none;
  text-align: left;
  transition: display 0.25s;
  bottom: 0vh;
}

.itemContainerDesktop:hover .captionContainerDesktop {
  display: flex;
}

.itemContainerMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  transform: scale(0.9);
  transition: transform 0.25s;
}

.itemContainerMobile:hover {
  transform: scale(0.96);
}

.imageContainerMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
  cursor: pointer;
}

.imageMobile{
  width: auto;
  height: 54vh; 
}

.captionContainerMobile {
  display: flex;
  text-align: left;
}

img {
  z-index: -100;
}

:host ::ng-deep .carousel-control-prev {
  left: -7vw;
}

:host ::ng-deep .carousel-control-next {
  right: -7vw;
}

