<nav class="navbar navbar-expand-sm navbar-dark navbar-custom pl-5 pr-5">
  <a class="navbar-brand" [routerLink]="'/'">USC Films</a>

  <button class="navbar-toggler" type="button" (click)="navbarCollapse = !navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="navbarCollapse" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [style.color]="activatedRoute === 'home' ? 'white' : '#495057'"  [routerLink]="'/'" (click)="navbarCollapse = true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [style.color]="activatedRoute === 'mylist' ? 'white' : '#495057'"  [routerLink]="'/mylist'" (click)="navbarCollapse = true">My List</a>
      </li> 
    </ul>
  </div>
</nav>