<nav class="navbar navbar-expand-sm navbar-dark navbar-custom pl-5 pr-5" >
  <a class="navbar-brand" [routerLink]="'/'">USC Films</a>

  <button class="navbar-toggler" type="button" (click)="navbarCollapse = !navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="navbarCollapse" class="collapse navbar-collapse">
    <ul class="navbar-nav" style="width: 100%; display: flex">
      <li class="nav-item" [ngStyle]="{display: 'flex', flexDirection: isDesktop ? 'row' : 'row-reverse'}">
        <a class="nav-link" [style.color]="activatedRoute === 'home' ? 'white' : '#495057'"  [routerLink]="'/'" (click)="navbarCollapse = true">Home</a>
      </li>
      <li class="nav-item" [ngStyle]="{display: 'flex', flexDirection: isDesktop ? 'row' : 'row-reverse'}">
        <a class="nav-link" [style.color]="activatedRoute === 'mylist' ? 'white' : '#495057'"  [routerLink]="'/mylist'" (click)="navbarCollapse = true">My List</a>
      </li>
      <li style="display: flex; flex-grow: 1;"></li>
      <li class="typeAheadContainer">
          <ng-template #rt let-r="result" let-t="term">
            <div (click)="onResultClick(r.id, r.media_type)">
              <img [src]="r.backdrop_path" class="mr-1" style="height: 45px;">
              <ngb-highlight [result]="r.name" [term]="t" ></ngb-highlight>
            </div>
          </ng-template>
        <input type="text" class="form-control" placeholder="Search" class="searchBar" [style.width]="isDesktop ? '12.5vw' : '50vw'" [class]="isDesktop ? 'inputDesktop' : ''" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="inputFormatter"/>
      </li>
    </ul>
    
  </div>
</nav>