.detailsPageSection {
  width: 72%;
  margin: auto;
}

.mediaTextGrey {
  color: #CFD3DB;
}

.videoPlayerContainer {
  margin-top: 6vh;
  height: 50vh;
}

.mediaTitle {
  margin-top: 0.5vh;
  line-height: 1.15;
  font-size: 5em;
}

.mediaTagLine {
  font-size: 1.5rem;
  margin: 1.5vh 0;
}

.mediaMeta {
  display: flex;
  margin: 2.5vh 0 1.5vh;
  font-size: 1.5rem;
}

.mediaGenres {
  margin: 0.5vh 0;
  font-size: 1.25rem;
  overflow-wrap: break-word;
}

.mediaSpokenLanguages {
  margin: 0.5vh 0;
  font-size: 1.25rem;
  overflow-wrap: break-word;
}

.buttonContainer {
  margin: 3vh 0px 0px;
}

.alertContainer {
  margin: 2vh 0px 0px
}

.buttonContainer button{
  font-size: 20px;
}

.subtitle {
  font-weight: 700;
  font-size: 20px;
}

.reviewContent {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}