.mediaTextGrey {
  color: #CFD3DB;
}

.mediaTextWhite {
  color: white
}

.contentMarginDesktop {
  margin-top: 8vh;
}

.contentMarginMobile {
  margin-top: 4vh;
}

.mediaTitleDesktop {
  margin-top: 0.5vh;
  line-height: 1.15;
  font-size: 3.75rem;
}

.mediaTitleMobile {
  margin-top: 0.5vh;
  line-height: 1.15;
  font-size: 3rem;
  margin-top: 2vh;
}

.mediaTagLineDesktop {
  font-size: 1.5rem;
  margin: 1vh 0;
}

.mediaTagLineMobile {
  font-size: 1.25rem;
  margin: 1.5vh 0;
}

.mediaMetaDesktop {
  display: flex;
  margin: 2vh 0 1vh;
  font-size: 1.5rem;
}

.mediaMetaMobile {
  display: flex;
  margin: 2.5vh 0 1.5vh;
  font-size: 1.25rem;
}

.mediaLabelDesktop {
  font-size: 1.25rem;
}

.mediaLabelMobile {
  font-size: 1rem;
}

.mediaGenresDesktop {
  margin: 0.5vh 0;
  font-size: 1.4rem;
  overflow-wrap: break-word;
}

.mediaGenresMobile {
  margin: 0.5vh 0;
  font-size: 1rem;
  overflow-wrap: break-word;
}

.mediaSpokenLanguagesDesktop {
  font-size: 1.4rem;
  overflow-wrap: break-word;
}

.mediaSpokenLanguagesMobile {
  font-size: 1rem;
  overflow-wrap: break-word;
}

.buttonContainer {
  margin: 3vh 0px 0px;
}

.alertContainer {
  margin: 2vh 0px 0px
}

.buttonContainer button{
  font-size: 1.25rem;
}

.alertDesktop span {
  margin: 1vh 1vw;
}

.sectionDesktop {
  padding: 0px 0.8vw;
}

.subtitleDesktop {
  margin: 1vh 0px;
  font-size: 1.5rem;
}

.subtitleMobile {
  margin: 1vh 0px;
  font-size: 1.25rem;
}

.descriptionDesktop {
  font-size: 1.25rem;
}

.descriptionMobile {
  font-size: 1rem;
}

.shareDesktop { 
  font-size: 2.25rem;
}

.shareMobile {
  font-size: 1.75rem;
}

.sectionTitleAltDesktop {
  font-size: 2.5rem;
}

.sectionTitleAltMobile {
  font-size: 1.5rem;
}

.reviewTitleDesktop {
  font-size: 1.5rem;
}

.reviewTitleMobile {
  font-size: 1.25rem;
}

.reviewSubtitleDesktop {

}

.reviewSubtitleMobile {

}

.ratingDesktop {
  display: flex;
  align-items: center;
  gap: 0.4vw;
  background-color: black;
  color: white;
  padding: 0.5vh 0.5vw;
  border-radius: 2vh;
}

.ratingDesktop span {
  font-size: 1.15rem;
}

.ratingMobile {
  display: flex;
  align-items: center;
  gap: 0.2vw;
  background-color: black;
  color: white;
  padding: 0.5vh 0.5vw;
  border-radius: 2vh;
}

.ratingMobile span {
  font-size: 1.5rem;
}

.reviewContent {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}