/* Global Style Settings */
html, body, app-root{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #070D2F;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

app-root {
  display: flex;
  flex-direction: column;
}

.socialMedia:hover {
  cursor: pointer
}