/* Global Style Settings */
html, body, app-root{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #070D2F;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


app-root {
  display: flex;
  flex-direction: column;
  overflow: visible;
  overflow-x: hidden;
}

.socialMedia{
  cursor: pointer
}

::-webkit-scrollbar {
  width: 0.6vw;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9ca0a6; 
  border-radius: 10px;
  width: 27vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #4e535b; 
}