* {
  color: black;
}

.modalTitleDesktop {
  font-size: 2rem;
}

.modalTitleMobile {
  font-size: 1.25rem;
}

.modalContentDesktop {
  font-size: 1.2rem;
} 

.modalContentMobile {
  font-size: 0.9rem;
}

.modalLinkContainerDesktop {
  display: flex;
  gap: 0.5vw;
  margin-top: 2vh;
}

.modalLinkContainerDesktop i {
  font-size: 2.5rem;
}

.modalLinkContainerMobile {
  display: flex;
  gap: 0.5vw;
  margin-top: 2vh;
}

.modalLinkContainerMobile i {
  font-size: 2rem;
}

.modalAvatarDesktop {
  width: 10vw;
  height: auto;
  object-fit: contain;
}

.modalAvatarMobile {
  width: 80vw;
  height: auto;
  object-fit: contain;
}

.modalSubtitleDesktop {
  font-size: 1.75rem;
}

.modalSubtitleMobile {
  font-size: 1.25rem;
}

.modalBiographyContainerDesktop {
  margin-top: 1.5vh;
}

.modalBiographyContainerMobile {
  margin-top: 1.5vh;
}

