<div class="modal-header">
  <div class="container-fluid">
    <div class="row" >
      <div class="col-sm-12">
        <div class="modal-title" [class]="isDesktop ? 'modalTitleDesktop' : 'modalTitleMobile'">{{name}}</div>
      </div>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid" >
    <div class="row" >
      <div class="col-sm-12 col-md-3">
        <div class="modalAvatarContainer">
          <img [src]="avatar" [alt]="name" [class]="isDesktop ? 'modalAvatarDesktop' : 'modalAvatarModal'">
        </div>
      </div>
      <div class="col-sm-12 col-md-9" [class]="isDesktop ? 'modalContentDesktop' : 'modalContentMobile'">
        <div>Birth: {{birthday}}</div>
        <div>Birth Place: {{placeOfBirth}}</div>
        <div>Gender: {{getGender()}}</div>
        <div>Known for: {{knownForDepartment | titlecase}}</div>
        <div>Also Known As: {{getAlsoKnownAs()}}</div>
        <div [class]="isDesktop ? 'modalLinkContainerDesktop' : 'modalLinkContainerMobile'">
          <div *ngIf="imdbId" class="socialMedia" [class]="isDesktop ? 'socialIconDesktop' : 'socialIconMobile'" placement="top" ngbTooltip="Visit IMDB">
            <a target="_blank" [href]="imdbId">
              <i class="fab fa-imdb" [style.color]="'#e9b700'"></i>
            </a>
          </div>
          <div *ngIf="instagramId" class="socialMedia" [class]="isDesktop ? 'socialIconDesktop' : 'socialIconMobile'" placement="top" ngbTooltip="Visit Instagram">
            <a target="_blank" [href]="instagramId">
              <i class="fab fa-instagram" [style.color]="'#803d7b'"></i>
            </a>
          </div>
          <div *ngIf="facebookId" class="socialMedia" [class]="isDesktop ? 'socialIconDesktop' : 'socialIconMobile'" placement="top" ngbTooltip="Visit Facebook">
            <a target="_blank" [href]="facebookId">
              <i class="fab fa-facebook-square" [style.color]="'#0e2fff'"></i>
            </a>
          </div>
          <div *ngIf="twitterId" class="socialMedia" [class]="isDesktop ? 'socialIconDesktop' : 'socialIconMobile'" placement="top" ngbTooltip="Visit Twitter">
            <a target="_blank" [href]="twitterId">
              <i class="fab fa-twitter" [style.color]="'#4399ff'"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12" [class]="isDesktop ? 'modalBiographyContainerDesktop' : 'modalBiographyContainerMobile'">
        <div [class]="isDesktop ? 'modalSubtitleDesktop' : 'modalSubtitleMobile'">Biography</div>
        <div [class]="isDesktop ? 'modalContentDesktop' : 'modalContentMobile'">{{biography}}</div>
      </div>
    </div>
  </div>
</div>